<header class="header navbar-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="nav-inner">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                          <img src="https://cdn.pixabay.com/photo/2023/07/04/09/06/bicycle-8105731_1280.jpg" style="height: 80px; width: 100px; border-radius: 50%; border: 0.2px solid #000;" alt="Logo">
                        </a>
                        <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="active dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-1-1"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation" routerLink="/home">Home</a>

                                </li>
                                <li class="nav-item">
                                    <a routerLink="/marketplace" aria-label="Toggle navigation">Market Place</a>
                                </li>
                                <li class="nav-item">
                                    <a routerLink="/registerproduct" aria-label="Toggle navigation">Add product </a>

                                </li>

                              <li class="nav-item">
                                <a routerLink="/cart" aria-label="Toggle navigation">Cart </a>

                            </li>
                            <li class="nav-item">
                              <a routerLink="/ListDefi" aria-label="Toggle navigation">Defi </a>

                          </li>
                          <li class="nav-item">
                            <a routerLink="/registerDefi" aria-label="Toggle navigation">Add Defi </a>

                        </li>
                          <li class="nav-item">
                            <a routerLink="/myOrders" aria-label="Toggle navigation">myOrders </a>

                        </li>

                                <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-1-3"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Listings</a>
                                    <ul class="sub-menu collapse" id="submenu-1-3">
                                        <li class="nav-item"><a routerLink="/back">Backend</a></li>
                                        <li class="nav-item"><a routerLink="/stat">Stat</a></li>

                                   </ul>
                                </li>


                              <!--  <li class="nav-item">
                                    <a class="dd-menu collapsed" href="javascript:void(0)"
                                        data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                        aria-controls="navbarSupportedContent" aria-expanded="false"
                                        aria-label="Toggle navigation">Blog</a>
                                    <ul class="sub-menu collapse" id="submenu-1-5">
                                        <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                        </li>
                                        <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                        <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                                Sibebar</a></li>
                                    </ul>
                                </li>-->
                                <li class="nav-item">
                                    <a routerLink="/profile" aria-label="Toggle navigation">My profile</a>
                                </li>
                            </ul>
                        </div> <!-- navbar collapse -->
                        <div class="login-button">
                            <ul>
                                <li>
                                    <a routerLink="/login"><i class="lni lni-enter"></i> Login</a>
                                </li>
                                <li>
                                    <a routerLink="/signup"><i class="lni lni-user"></i> Register</a>
                                </li>
                            </ul>
                        </div>
                     <!--  <div class="button header-button">
                            <a routerLink="/map"  class="btn">Map</a>
                        </div>-->

                    </nav> <!-- navbar -->
                </div>
            </div>
        </div> <!-- row -->

    </div> <!-- container -->
</header>
