
    .product-image {
        width: 100%; /* Pour garantir que l'image occupe 100% de la largeur du conteneur */
        height: 100%; /* Pour garantir que l'image occupe 100% de la hauteur du conteneur */
        object-fit: cover;
      }
      .discount {
        color: #e74c3c; /* Couleur du texte de la réduction */
        font-size: 14px; /* Taille de police */
        font-weight: bold; /* Poids de la police en gras */
        margin-right: 5px; 
        /* Marge en haut pour l'espacement */
      }
      .product-info {
        display: flex; /* Utilisation de flexbox pour aligner les éléments en parallèle */
        align-items: center; /* Alignement vertical des éléments */
      }
      
      .price {
        /* Styles pour le prix */
        margin-right: 100px; /* Ajout d'un espacement entre le prix et la réduction */
      }
      
.pagination {
    margin-top: 40px; /* Ajustez la marge supérieure selon vos besoins pour placer la pagination en dessous de la liste */
  }
  .plus-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image:hover .plus-icon {
    opacity: 1;
  }


  .button-container {
    margin-top: 10px; /* Espacement supplémentaire pour le bouton */
  }
  
  
  .image-size {
    width: 100%; /* Largeur de l'image à 100% de la largeur parente */
    height: 200px; /* Hauteur fixe de l'image */
    object-fit: cover; /* Ajuster la taille de l'image pour remplir le conteneur tout en préservant le rapport hauteur/largeur */
}
.selected-button {
  background-color: #3366ff; /* Couleur de fond du bouton sélectionné */
  color: white; /* Couleur du texte du bouton sélectionné */
}
