
<!-- Start Breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-12">
          <div class="breadcrumbs-content">
            <h1 class="page-title">Registration</h1>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-12">
          <ul class="breadcrumb-nav">
            <li><a href="index.html">Home</a></li>
            <li>Registration</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Breadcrumbs -->
  <!-- start login section -->
  <section class="login registration section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-12">
          <div class="form-head">
            <h4 class="title">Login</h4>
            <form [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
              <div class="form-group">
                <label>Username or Email</label>
                <input
                  matInput
                  formControlName="username"
                  placeholder="Username or Email"
                  required
                />
                <mat-error
                  *ngIf="
                    loginFormGroup.get('username')?.invalid &&
                    loginFormGroup.get('username')?.touched
                  "
                >
                  Please enter a valid username or email address.
                </mat-error>
              </div>
  
              <div class="form-group">
                <label>Password</label>
                <input
                  matInput
                  type="password"
                  formControlName="password"
                  placeholder="Password"
                  required
                />
                <mat-error
                  *ngIf="
                    loginFormGroup.get('password')?.invalid &&
                    loginFormGroup.get('password')?.touched
                  "
                >
                  Please enter your password.
                </mat-error>
              </div>
  
              <div class="check-and-pass">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 col-12">
                    <div class="form-check">
                      <input
                        type="checkbox"
                        class="form-check-input width-auto"
                        id="rememberMe"
                        formControlName="rememberMe"
                      />
                      <label class="form-check-label" for="rememberMe"
                        >Remember me</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-12">
                    <a href="javascript:void(0)" class="lost-pass"
                      >Lost your password?</a
                    >
                  </div>
                </div>
              </div>
            
              <div class="button">
                <button
                  type="submit"
                  class="btn"
                  [disabled]="loginFormGroup.invalid"
                >
                  Login Now
                </button>
              </div>
  
              <div class="alt-option">
                <span>Or</span>
              </div>
  
              <div class="socila-login">
                <ul>
                  <li>
                    <a href="javascript:void(0)" class="facebook">
                      <i class="lni lni-facebook-original"></i>Login With Facebook
                    </a>
                  </li>
                  <li>
                    <a href="javascript:void(0)" class="google">
                      <i class="lni lni-google"></i>Login With Google
                    </a>
                  </li>
                </ul>
              </div>
  
              <p class="outer-link">
                Don't have an account?
                <a href="registration.html">Register here</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>