<div class="container mt-5">
  <h2>Stripe Checkout</h2>
  <div class="row mt-5">
      <div class="col-md-4" style="text-align: center;">
          <button (click)="pay(20)" class="btn btn-primary btn-block" style="font-weight: bold;">Pay</button>
      </div>
  </div>
  <p class="mt-5">
      Essayez avec le numéro de carte de test <b>4242 4242 4242 4242</b>, un numéro CVC aléatoire à trois chiffres, une date d'expiration future et un code postal américain aléatoire à cinq chiffres.
  </p>
</div>
